<div class="box">
  <div class="info_box">
    <p class="title">Main Info</p>
    <p class="author">Weather application created by Paweł Światłoń, the application uses information provided through "Open Weather Api".</p>
  </div>
  <div class="info_box">
    <p class="title">About api</p>
    <p class="author">
      Open Weather Api is one of the leading digital weather information providers.
      <br/>
      Weather data is open: current weather, forecasts, wind, clouds, data from weather stations are available through APIs, maps and other products.
    </p>
  </div>
  <div class="info_box">
    <p class="title">Site Info</p>
    <p class="info">The site shows the current weather, the weather forecast for the coming days for the city in which the user is located based on their, the site also offers to show weather data for the selected city.</p>
  </div>
</div>
