<div *ngIf="permissionDenied == true">
  <h1>please allow location permission</h1>
</div>
<div *ngIf="permissionDenied == false">
  <div *ngIf="!localForecastWeather">Loading....</div>
  <div *ngIf="localForecastWeather" class="list">
    <div *ngFor="let item of localForecastWeather.list">
      <div class="box">
        <p class="data">{{item.dt_txt}}</p>
        <div class="info">
          <div class="icon">
            <img src="https://openweathermap.org/img/wn/{{item.weather[0].icon}}.png" alt="Loading icon..."/>
            <p>Wind speed: {{item.wind.speed}}</p>
          </div>
          <div class="temp">
            <p>Temperature:</p><br/>
            <p>Max: {{item.main.temp_max}}°</p>
            <p>Min: {{item.main.temp_min}}°</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
