<div class="city_name">
  <input type="text" [(ngModel)]="cityName" placeholder="City Name...">
  <button (click)="showCityWeather()">Go</button>
</div>
<div *ngIf="cityWeather">
  <div class="box">
    <p class="city"><img src="../../assets/img/location.svg" alt=""/>{{cityWeather.cityName}}</p>
    <p class="skyInfo">{{cityWeather.weatherKind}}</p>
    <p class="icon">
      <img src="https://openweathermap.org/img/wn/{{cityWeather.icon}}.png" alt="Loading img..."/>
      <span>{{cityWeather.temp}}°</span>
    </p>
    <div class="temp-info">
      <p>Max: {{cityWeather.tempMax}}°</p>
      <p></p>
      <p>Min: {{cityWeather.tempMin}}°</p>
    </div>
  </div>
</div>

